.navbar-brand{
  width: 400px;
  float: left;
  margin: 10px 0;
  margin-left: 0px;
  text-align: center;
  text-decoration: none;
  font-size: 250%;
  color: whitesmoke;
}
.navbar{
  background: url("../img/bg.jpg");
  margin-bottom: 20px;
}
.container #somenav{
  margin-top: 0px;
  margin-bottom: 10px;
}
.container .nav-collapse{
    font-size: 20px;
  margin-top: 20px;
}
#myModal #pwd{
  margin-bottom: 10px;
}
#myModal a{
  margin-left: 10px;
}

#search{
  width: 150px;
}
#myCarousel{
  margin-top: 100px;
  margin-bottom: 10px;
}
.carousel-caption{
  font-size: 18px;
  color: #333;
  text-shadow: 1px 2px 0 white;
  font-weight: bold;
}
.carousel-caption h4{
  font-size: 22px;
}
#myCarousel .item{
  height: 330px;
}

#slide1{
  background: url("../img/books_bg.jpg")top center no-repeat;
}
#slide2{
  background: url("../img/honor_bg.jpg")top center no-repeat;
}
#slide3{
  background: url("../img/laptop_bg.jpg")top center no-repeat;
}
#slide4{
  background: url("../img/tv_bg.jpg")top center no-repeat;
}
#features{
  text-align: center;
  position: relative;
}
.price{
  font-size: 16px;
  position: absolute;
  right: 15px;
}
#features img{
  width: 90%;
  height: 100%;
}
.feature{
  overflow: hidden;
}
#tab1 .cont1{
  margin-top: 10px;
}
#tab1 img{
margin-top: 25px
}
#tab1 .cont1 h4{
  font-size: 20px;
}
#tab2 iframe{
  margin-bottom: 20px;
}
.bank{
  border: 1px #e4e4e4 solid;
  margin-left: 20px;
}
.bank i{
  font-size: 20px;
  color:#2aa22a;
}
.bank h3{

  font-weight: bold;
  font-size: 24px;
}
.bank h4{
  padding: 2px;
  font-size: 22px;
}

footer{
  color: #eee;
  background-color: #333;
  padding: 20px;
  font-size: 14px;
  margin-top: 20px;
}
ul.unstyled{
  list-style: none;
  padding: 0;
}
ul.unstyled li{
  margin-bottom: 5px;
}
.media{
  float: left;
  margin-top: 6px;
  margin-bottom: 2px;
  margin-right: 10px;
}
.fb{
  width: 18px;
  height: 18px;
  text-align: center;
  color:#3B5998;
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}
.fb:hover{
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 19px;
  height: 19px;
  color:white;
  background-color: #3B5998;
  border-radius: 5px;
  text-align: center;
}
.gp{
  width:18px;
  height: 18px;
  background-color: white;
  color : red;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
.gp:hover{
  font-weight: bold;
  width:19px;
  height: 19px;
  background-color: red;
  color : white;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
}
.yh{
  width:18px;
  height: 18px;
  background-color: white;
  color : purple;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}
.yh:hover{
  font-weight: bold;
  width:19px;
  height: 19px;
  background-color: purple;
  color : white;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
}
/*------------mob.html--------*/
.mobile{
  text-align: center;
}
.mobile ul{
  font-size: 12px;
}
#myCarousel2{
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
#myCarousel2 h3{
  text-align: center;
}
#myCarousel2 .item{
  height: 350px;
}
#mobile1{
  background: url("../img/moto.jpeg")top center no-repeat;
}
#mobile2{
  background: url("../img/honot.jpeg")top center no-repeat;
}
#mobile3{
  background: url("../img/iphone.jpeg")top center no-repeat;
}
#mobile4{
  background: url("../img/holl2.jpeg")top center no-repeat;
}
#mobile5{
  background: url("../img/samsung.jpeg")top center no-repeat;
}
#mobile6{
  background: url("../img/samsungj7.jpeg")top center no-repeat;
}
#mobile7{
  background: url("../img/gionee.jpeg")top center no-repeat;
}
#mobile8{
  background: url("../img/lemax.jpeg")top center no-repeat;
}

/*---------------------------*/
@media(max-width:480px){
  #features img{
    width: 80%;
    height: 100%;
  }
  #tab1 img{
    margin-top: 25px;
    width: 60%;
  }
  #myCarousel .item{
    height: 150px;
  }

  #slide1{
    background: url("../img/books_bg_xsm.jpg")top center no-repeat;
  }
  #slide2{
    background: url("../img/honor_bg_xsm.jpg")top center no-repeat;
  }
  #slide3{
    background: url("../img/laptop_bg_xsm.jpg")top center no-repeat;
  }
  #slide4{
    background: url("../img/tv_bg_xsm.jpg")top center no-repeat;
  }

}
@media(max-width:786px){

  .header{
    width: 250px;
    text-align: left;
  }
  .header a{
    font-size: 20px;
  }
  .container .nav-collapse{
    font-size: 15px;
    margin-top: 40px;
  }

  #tab1 img{
    margin-top: 25px;
    width: 80%;
  }
  #myCarousel .item{
    height: 230px;
  }

  #slide1{
    background: url("../img/books_bg_md.jpg")top center no-repeat;
  }
  #slide2{
    background: url("../img/honor_bg_md.jpg")top center no-repeat;
  }
  #slide3{
    background: url("../img/laptop_bg_md.jpg")top center no-repeat;
  }
  #slide4{
    background: url("../img/tv_bg_md.jpg")top center no-repeat;
  }
  #mobiles{
    display: none;
  }
  #myCarousel2{
    display: block;
  }
  .carousel-caption{
    font-size: 16px;
    color: #333;
    text-shadow: 1px 2px 0 white;
    font-weight: bold;
  }
  .carousel-caption h4{
    font-size: 20px;
  }

}
@media(min-width:1200px){

  #slide1{
    background: url("../img/books_bg.jpg")top center no-repeat;
  }
  #slide2{
    background: url("../img/honor_bg.jpg")top center no-repeat;
  }
  #slide3{
    background: url("../img/laptop_bg.jpg")top center no-repeat;
  }
  #slide4{
    background: url("../img/tv_bg.jpg")top center no-repeat;
  }

}
